<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<table>
    <caption>Cars</caption>
    <thead>
    <tr>
        <th>model</th>
        <th>series</th>
        <th>color</th>
    </tr>
    </thead>
    <tbody>
    <div>
        <th:block th:each="user : ${users}">
            <tr>
                <td th:text="${user.getId()}"></td>
                <td th:text="${user.mail}"></td>
                <td th:text="${user.pass}"></td>
                <td th:text="${user.age}"></td>
            </tr>

        </th:block>
    </div>
    <a href="/new">new</a>
    </tbody>
</table>
</body>
</html>